include README*
include LICENSE

recursive-include bin *
recursive-include lib *

# Add documentation to sdist-generated tarballs
recursive-include doc *.rst
recursive-include doc *.py
include doc/Makefile
